{% extends 'base.html.twig' %}

{% block title %}Users index{% endblock %}


{% block body %}

    <!--Main layout-->
    <main class="pt-5 mx-lg-5">
        <div class="container-fluid mt-5">

            <!-- Heading -->
            <div class="card mb-4 wow fadeIn">

                <!--Card content-->
                <div class="card-body d-sm-flex justify-content-between">

                    <h4 class="mb-2 mb-sm-0 pt-1">
                        <a href="https://mdbootstrap.com/docs/jquery/" target="_blank">Home Page</a>
                        <span>/</span>
                        <span>Chatrooms</span>
                    </h4>

                    <form class="d-flex justify-content-center">
                        <!-- Default input -->
                        <input type="search" placeholder="Type your query" aria-label="Search" class="form-control">
                        <button class="btn btn-primary btn-sm my-0 p" type="submit">
                            <i class="fas fa-search"></i>
                        </button>

                    </form>

                </div>

            </div>
            <!-- Heading -->


            <div class="col-lg-3 col-md-3">
                <!-- Card -->
                <div class="card">
    
                    <!-- Card image -->
                    <h2>&nbsp;&nbsp;Chatrooms </h2>
                
                    <!-- Card content -->
                    <div class="card-body">
                
                    <!-- Title -->
                    <h4 class="card-title">
                        {% if ((chatrooms|length > 0) and chatrooms is defined ) %}
                        {{ chatrooms|length }} on servers : <br>
                        {{ chatrooms[0].Server }}
                        {% else %}
                         0 on servers : 
                        {% endif %}
                    </h4>
                    </div>
                
                </div>
                <!-- Card -->
                </div>
                <br>



            <!--Grid row-->
            <div class="row wow fadeIn">

                <!--Grid column-->
                <div class="col-lg-12 col-md-12 mb-4">

                    <!--Card-->
                    <div class="card">

                        <!-- Card header -->
                        <div class="card-header">Chatrooms </div>

                        <!--Card content-->
                        <div class="card-body">


                            <h1>Chatrooms</h1>

                            <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Server</th>
                                            <th>Chatroom</th>            
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for chatroom in chatrooms %}
                                        <tr>
                                            <td>{{ chatroom.Server }}</td>
                                            <td>{{ chatroom.Chatroom }}</td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="3">no records found</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                            </table>

                        </div>

                    </div>
                    <!--/.Card-->

                </div>
                <!--Grid column-->


            </div>
            <!--Grid row-->


        </div>
    </main>
    <!--Main layout-->


{% endblock %}


